.Dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.DialogsItems {
	padding: 5%;
}

.DialogsItems .active{
	color: gold;
}
.messages {
	padding: 1%;
}

.messages .message {
	
}

.button{
	display: inline-block;
	width: 30%;
	height: 50%;
	vertical-align: bottom;
}
