.nav {
	grid-area: nav;
	background: rgba(84, 18, 192, 0.938);
	padding:10%;
}

.item{
	color:white;
}

.item a{
	color: white;
	text-decoration: none;
}

.item a.activeLink {
	color: gold;
}

.sidebar{
	margin-top: 15%;
	font-size: 20px;
	text-align: center;
}

